<ion-toolbar color="primary">
  <ion-title class="ion-text-center font-size-18">
    Sistema de Asistencia DUOC
  </ion-title>
</ion-toolbar>

<ion-card>
  <h1>Correcto!!!</h1>
  <img src="../../../assets/img/estudiante_feliz.jpg" alt="Correcto" class="correcto-image">
  <ion-card-header>
    <ion-card-title>tu contraseña es:</ion-card-title>
    <ion-card-subtitle>{{usuario.password}}</ion-card-subtitle>
  </ion-card-header>

  <ion-button expand="block" color="primary" routerLink="/inicio">
    Iniciar sesión
  </ion-button>
</ion-card>
