<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center font-size-18">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="login-wrapper">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size="12">
          <h2 class="titulo">Pregunta Secreta</h2>
          <p class="subtitulo">Paso 2: Ingresa tu respuesta</p>
          <p>{{ usuario.nombre }} {{ usuario.apellido }}</p>
          <p class="subtitulo">{{usuario.preguntaSecreta}}</p>
        </ion-col>
      </ion-row>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating"></ion-label>
        <ion-input labelPlacement="floating" label="Escribe tu respuesta" type="text" [(ngModel)]="respuesta" placeholder="Caballo"></ion-input>
      </ion-item>

      <ion-button expand="block" class="boton" (click)="ValidarRespuestaSecreta()">
        Validar Respuesta
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
