ion-content {
    --background: #1e1e1e;
  }
  
  .logo-inicio-duoc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .caja-credenciales {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 20px;
  }
  
  .boton {
    margin-top: 10px;
  }
  